body {
  font-family: 'Raleway', sans-serif;
}

.darkblue{
  color: rgba(5, 94, 136, 1);
}

.deepblue{
  color: rgba(8, 96, 208, 1);
}

.greenish{
  color: rgba(8, 196, 208, 1);
}

.clear1{
  color: rgba(180, 230, 252, 1);
}


.clear2{
  color: rgba(10, 172, 246, 1);
}

.section {
  margin: 10px;
  padding: 10px;
}

p {
  text-align: justify;
}

.page {
  margin: 15px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.43);
-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.43);
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.43);
background-color: white;
}

h2 {
  color : rgba(8, 96, 208, 1);
}

h1 {
  color: rgba(5, 94, 136, 1);
  border-bottom: 3px solid;
}

.subsection > ul > li, .tech > li{
  display: inline-block;
  padding: 5px;
  margin: 3px;
background-color: rgba(180, 230, 252, 0.2);
border-color: rgba(0, 120, 147, 4);
-webkit-box-shadow: 0px 0px 1px 1px rgba(5, 94, 136, 1);
-moz-box-shadow: 0px 0px 1px 0px rgba(5, 94, 136, 1);
box-shadow: 0px 0px 1px 0px rgba(5, 94, 136, 1);
}

.subsection > ul > li:hover , .tech > li:hover{
  display: inline-block;
  padding: 5px;
  margin: 3px;
  color: white;
  background-color: rgba(0, 120, 147, 0.9);
  border-color: rgba(0, 120, 147, 1);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(5, 94, 136, 1);
-moz-box-shadow: 0px 0px 2px 2px rgba(5, 94, 136, 1);
box-shadow: 0px 0px 2px 2px rgba(5, 94, 136, 1);
}

.star {
  color: rgba(255,220,150,1);
}

.subsection {
  margin: auto;
  padding: 20px;
  max-width: 80%;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(5, 94, 136, 1);
-moz-box-shadow: 0px 0px 1px 1px rgba(5, 94, 136, 1);
box-shadow: 0px 0px 1px 1px rgba(5, 94, 136, 1);
   margin-top : 10px;
   margin-bottom : 10px;
}

.subsection:hover {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(5, 94, 136, 1);
-moz-box-shadow: 0px 0px 2px 2px rgba(5, 94, 136, 1);
box-shadow: 0px 0px 2px 2px rgba(5, 94, 136, 1);
}

.subsection > h3 {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  background-color: rgba(180, 230, 252, 0.2);
  margin-bottom: 0;
}

.subsection > h4 {
  color: rgba(5, 94, 136, 1);
  font-weight: bold;
  border-top: solid 4px rgba(10, 172, 246, 1);
  margin: 3px;
  padding: 3px;
  background-color: rgba(180, 230, 252, 0.2);
  margin-bottom: 0px;
}

.flex {
  display: flex;
  align-content : space-around;
  flex-wrap : wrap;
  text-align : center;
}

.flexw {
  display: flex;
  flex-wrap: wrap;
}

.subsection > ul {
  background-color: rgba(180, 230, 252, 0.2);
  margin: 3px;
  margin-top: 0px;
}

.flexw > .element {
  max-width: 300px;
}


.element {
  background-color: rgba(255, 255, 255, 0.2);
  margin: auto;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(5, 94, 136, 1);
-moz-box-shadow: 0px 0px 1px 1px rgba(5, 94, 136, 1);
box-shadow: 0px 0px 1px 1px rgba(5, 94, 136, 1);
   margin-top : 10px;
   margin-bottom : 10px;
}

.element:hover {
  -webkit-box-shadow: 0px 0px 2px 2px rgba(5, 94, 136, 1);
-moz-box-shadow: 0px 0px 2px 2px rgba(5, 94, 136, 1);
box-shadow: 0px 0px 2px 2px rgba(5, 94, 136, 1);
}

.tech {
  border-top: solid 4px rgba(10, 172, 246, 1);
  background-color: rgba(180, 230, 252, 0.2);
  margin-top: 0px;
  padding: 5px;
}

.tech > li {
  font-size: 9px;
}
.element > h4 {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
  font-size: 10px;
  padding: 5px;
  background-color: rgba(180, 230, 252, 0.2);
  margin-bottom: 0;
}


.ed > .element > ul > li {
  border-left: solid 2px rgba(10, 172, 246, 1);
  margin: 2px;
  padding: 2px;
  display: block;
}

.ed > .element > ul > li:hover {
  background-color: rgba(5, 94, 136, 1);
  color: white;
}

.element > h2 > span {
  font-style : italic;
  font-size : 20px;
  padding : 10px;
  background-color: rgba(180, 230, 252, 0.2);
  border : dashed rgba(180,230,252,0.8) 1px;
}


.date {
  color: gray;
  font-style: italic;
}

.ref {
  margin: auto;
  padding: 25px;
  max-width: 300px;
    -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;
}
.ref:hover {
  margin: auto;
  padding: 25px;
  max-width: 300px;
    -moz-box-shadow:    1px 2px 2px 2px #ccc;
  -webkit-box-shadow: 1px 2px 2px 2px #ccc;
  box-shadow:         1px 2px 2px 2px #ccc;
}


.name {
  text-align: center;
  padding: 20px;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 45px;
  border-bottom: 0px solid;
  margin-bottom: 0px;
  padding-bottom: 2px;
}
|
.title {
  text-align: center;
  font-size: 22px;
  margin-top: 0px;
  border-bottom: 5px solid;
  padding: 3px;
  color: rgba(5, 94, 136, 1);
}


.contact {
  color : rgba(8, 96, 208, 1);
  margin: 2px;
  font-size: 12px;
  text-align: center;
}



.social a{
  color: rgba(8, 96, 208, 1);
  font-size: 18px;
}

.social > a:visited {
  color: rgba(5, 94, 136, 1);
}

.mail{
  font-size: 10px;
}

.title2 {
  color: rgba(5, 94, 136, 1);
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 0px;
  -webkit-transform: rotateX(-10deg) rotateY(15deg);
     -moz-transform: rotateX(-10deg) rotateY(15deg);
   text-shadow:
       1px 1px 0 #03234c,
     -1px -1px 0 #03234c,
      1px -1px 0 #03234c,
      -1px 1px 0 #03234c,
       1px 1px 0 #03234c;
       padding-bottom: 0px;
       line-height: 0.9em;
       z-index: -1;
       
}

.rotating {
  z-index: -10;
  position: absolute;
}

.subtitle2 {
  color: rgba(5, 94, 136, 1);
  font-size: 19px;
  margin-top: 0px;
  -webkit-transform: rotateX(-10deg) rotateY(15deg);
     -moz-transform: rotateX(-10deg) rotateY(15deg);

     text-shadow:
         1px 1px 0 #03234c,
       -1px -1px 0 #03234c,
        1px -1px 0 #03234c,
        -1px 1px 0 #03234c,
         1px 1px 0 #03234c;
         padding-top: 0px;
}

.bighead {
  text-align: center;
  -webkit-perspective: 500px;
       -moz-perspective: 500px;
  perspective: 500px;
  font-family: 'Titillium Web', sans-serif;
}



.rest{
  max-width: 300px;
  text-align: center;
  float: right;
  background-color: rgba(8, 96, 208, 0.1);;
}

.menu{
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social > a {
  font-size: 25px;
  color: rgba(8, 96, 208, 1);
}

i {
  color: rgba(8, 96, 208, 1);
}

.menu > a {
  background-color: rgba(8, 96, 208, 0.6);
  color: white;
  margin: 5px;
  padding: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
  text-decoration: none;
  flex-grow: 1;
}

menu > a:hover {
  background-color: rgba(8, 96, 208, 1);
  color: white;
  font-weight: bold;
}

